packages/
obj/
bin/
dist/

App_Data/
TestResults/
BenchmarkDotNet.Artifacts/
artifacts/


**/*.graphql
**/Output.cs

.vs/
.idea/

*.suo
*.user
*.log
*.userprefs

# Visual Studio Mac
._Telia.Web.sln


# Office documents opened
**/~$*.*